@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file or style tag */
.text-wrapper {
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  